/*DECLARACIÓN DE VARIABLES GLOBALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root{
    --Lfondo: #699A03;
    --Cfondo: #431000; 
    --Qfondo: #EEC307;
    --Tfondo: #B13904;
    --Pfondo: #FEA778;
    --Primary100: #FFEECB;
    --BotonRyL: #FA7159; /*Boton que es para el momento de crar o inciar sesión*/
    --BotonRoL: #E9DBBF; /*Boron para elegir si iniciar sesión o registrarse*/
}

/* FONDO */

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--Pfondo) 16%,   
    var(--Lfondo) 16%,   
    var(--Lfondo) 28%,   
    var(--Cfondo) 28%,   
    var(--Cfondo) 41%,   
    var(--Qfondo) 41%,   
    var(--Qfondo) 54%,   
    var(--Tfondo) 54%,   
    var(--Tfondo) 67%,   
    var(--Cfondo) 67%,   
    var(--Cfondo) 80%,   
    var(--Pfondo) 80%,
    var(--Pfondo) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(8px);
  
}

/* HEADER y LOGO */

header{
  padding: 0.1%;
  transform: translateY(-7px);
}

.logo{
  padding-top: 0.3%;
  width: 8%;
  height: auto;
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* TARJETA DE INICIO DE SESIÓN */

.TarjetaL{
margin: 0 auto;
width: 40rem;
background: var(--Primary100);
border-radius: 20px;
box-shadow: 15px 10px 4px 3px rgb(0, 0, 0,0.25);
padding: 1%;
transform: translateY(-4px);
display: flexbox;
justify-content: center; /* centra horizontal */
align-items: center; 
}

/* TITULOS REGISTER Y LOGIN*/

.TitulosRyL{
  display: flex;
  align-items: flex-start;
  justify-content : space-around;
  padding: 4%;
}

.TituloL{
   color: black;
  text-decoration: none;
}

.TituloR{
    color: black;
  text-decoration: none;
}


/* FORMS */

.formulario{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.mainbox{
   display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  padding-top:7% ;
}

.box{
background-color: transparent;
border: 1px solid rgb(0, 0, 0,0.3);
border-radius: 12px;
padding: 3%;
}

.Titulosboxs{
    padding: 0%;
  margin-left: 5%;
}

  /* BOTON */
.boton{
  margin-top: 10%;
  margin-bottom: 5% ;
  background-color: var(--BotonRyL);
  width: 50%;
  padding: 2%;
  border-radius: 17px;
  border: 1px solid rgb(0, 0, 0,0.3);
  box-shadow: 5px 6px 1.9px 0px rgb(0, 0, 0,0.28);
  cursor: pointer;
}
