*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root{
    --Lfondo: #699A03;
    --Cfondo: #431000; 
    --Qfondo: #EEC307;
    --Tfondo: #EEC307;
    --Pfondo: #FE8C78;
    --Primary100: #FFEECB;
    --BotonRyL: #FA7159; /*Boton que es para el momento de crar o inciar sesión*/
    --BotonRoL: #E9DBBF; /*Boron para elegir si iniciar sesión o registrarse*/
}

body{
    background: var(--Pfondo);
}