.main-content{
  width: 100%;
}
.encabezado{
    display: flex;
     width: 100%;
     margin: 1rem 0 ;
}
.encabezado h2, p{
    display: flex;
    flex-direction: column;
    margin: 1rem 4rem;
}
.encabezado p {
    font-size: 1.2rem;
    font-weight: 500;
}
.encabezado h2{
    font-size: 1.8rem;
    font-weight: 800;
}
.encabezado button{
  background-color: #699A03;
  width: 16%;
  height: 3rem;
  border-radius: 1rem;
  margin-left: auto;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 2rem;
}
.overlay {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.4);  
  backdrop-filter: blur(8px); 
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.modal {
  background: #f3e2c1;
  border-radius: 12px;
  width: 40rem;
  height: 40rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.close{
  display: flex;
  font-size: 3rem;
  padding: 0;
  align-items: center;
  justify-content:center;
  margin: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  transition-duration: 300ms;
  border-radius: 0.5rem;
}
.close:hover{
  transition-duration: 300ms;
  cursor: pointer;
  transform: scale(1.2);
  color: rgba(153, 1, 1, 0.671);
}

.modal h2{
  margin-left: 3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}



.contenidotarjeta{
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.form-group, label, input,textarea{
   display: flex;
   width: 100%;
   margin: 0.5rem 0;
   flex-direction: column;
   align-items: center;
}

.modal label{
  width: 80%;
  font-size: 1.2rem;
  align-items: start;
}

.form-group input,textarea{
  max-width: 80%;
  padding: 1rem;
  border-radius: 0.8rem;
}

.guardarCBtn{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--buttoncolor);
  box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.3);
    transition-duration: 300ms;
}

.guardarCBtn:hover{
  transition-duration: 300ms;
  cursor: pointer;
  transform: scale(1.2);
  width: 55%;
  box-shadow: 0px 1px 3px 3px rgb(255, 153, 0);
}

#tablaCategorias{
  display: flex;
  margin: auto;
  margin-top: 6rem;
  background: red;
  width: 90%;
}