
/* FONDOS GENERALES */

body{
    background: var(--backgeneral);
}

.mainhead{
    background: var(--headergeneral);
    
}


.container {
     display: flex;
     margin-top: v);
        height: 100%;
}

.pcont {
overflow-y: auto;
}
/*  LOGO Y TITULO */

.lhead{
    display: flex;
    align-items: center;
    gap: 2% ;
}

.texthead{
    font-family: "Alumni Sans Inline One", sans-serif;
     font-style: italic;
    font-size: 3rem;
    font-weight: 300;
}

.logo{
  width: var(--tamanioheader);
  height: auto;
  margin-left: 2%;
  margin: 0.3%;
}

/* ELEMENTOS DE NAVEGACION DEL TOP */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}



.navbar-top{
    display: flex;
    margin-right: auto;
    padding: 0 1%;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
    width: 40%;
}

.navbar-top a {
    font-size: 1.125rem;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    text-decoration: none;  
    color: inherit;  
}

.logoutbutton{
  background-color: var(--buttoncolor);
  border-radius: 17px;
  border: 1px solid rgb(0, 0, 0,0.3);
  box-shadow: 4px 5px 2px 0px rgb(0, 0, 0,0.28);
  cursor: pointer;
  width: 9rem;
  padding: 0.7rem;
  font-family: "Gugi", sans-serif;
  font-weight: 700;
  text-decoration: none;  
  color: inherit; 
}

/* ELEMENTOS DE NAVEGACION EN EL LEFT */

.navbuttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    margin-top: 20%;
}

.navbuttons a{
        display: flex;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
     text-decoration: none;  
    color: white;  
    font-size: larger;
    justify-content: center;

}

.navbar-left{
    background: var(--leftbar);
    width: 15%;
    position: relative;
}


.separadordebotones{
    margin-top: 20%;
    margin-bottom: 20%;
}

/* botones left que ven todo */

.navbuttombot a{
        display: flex;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
     text-decoration: none;  
    color: white;  
    font-size: larger;
    justify-content: center;
}

.navbuttombot{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15%;
}

.activo{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255, 0.5);
    height: 3rem;
}
