
/* FONDOS GENERALES */

body{
    background: var(--backgeneral);
}

.main-head{
    background: var(--headergeneral);
    width: 100%;
    height: var(--tamanioheader);
}

main{
    height: calc(100% - var(--tamanioheader));
}


.container {
    display: flex;
    height: 100%;
}

.main-content {
overflow-y: auto;
}

.main-content{
    flex: 1;
    padding: 20px;
}

.container{
      display: flex;
}

/*  LOGO Y TITULO */

.box-headL{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2% ;
    width: 100%;
}

.header-title{
    font-family: "Alumni Sans Inline One", sans-serif;
     font-style: italic;
    font-size: 3rem;
    font-weight: 300;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: auto;
    margin: 0.2rem 0.2rem;
}

/* ELEMENTOS DE NAVEGACION DEL TOP */

.nav-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}



.navbar-top{
    display: flex;
    margin-right: 2%;
    gap: 2rem;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.navbar-top a {
    font-size: 1.125rem;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    text-decoration: none;  
    color: inherit;  
}

.logoutbutton{
  background-color: var(--buttoncolor);
  border-radius: 17px;
  border: 1px solid rgb(0, 0, 0,0.3);
  box-shadow: 3px 4px 1px 0px rgb(0, 0, 0,0.28);
  cursor: pointer;
  width: 9rem;
  padding: 0.7rem;
  font-family: "Gugi", sans-serif;
  font-weight: 700;
  text-decoration: none;  
  color: inherit; 
}

/* ELEMENTOS DE NAVEGACION EN EL LEFT */

.left-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    margin-top: 20%;
}

.left-buttons a{
        display: flex;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
     text-decoration: none;  
    color: white;  
    font-size: larger;
    justify-content: center;

}

.navbar-left{
    background: var(--leftbar);
    width: 15%;
    position: relative;
}


.separadordebotones{
    margin-top: 20%;
    margin-bottom: 20%;
}

/* botones left que ven todo */

.left-buttons-footer a{
        display: flex;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
     text-decoration: none;  
    color: white;  
    font-size: larger;
    justify-content: center;
}

.left-buttons-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15%;
}

.activo{
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255, 0.5);
    height: 4rem;
}
