.main-content{
    flex: 1;
    padding: 20px;
}

.container{
      display: flex;
}

.titleGP{
    margin: 1%;
}
.descrpGP{
    margin: 1%;
}
.tarjeta{
    margin: 1rem;
    background-color: var(--backtarjetaPedido);
    padding: 1%;
     border-radius: 17px;
  border: 1px solid rgb(0, 0, 0,0.3);
  box-shadow: 4px 5px 2px 0px rgb(0, 0, 0,0.28);
}

.pedido-estado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 8rem;
    height: 0%;
    padding: 0.6rem;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0,0.2);
    box-shadow: 2px 3px 4px 0px rgb(0, 0, 0,0.25);
    background-color: var(--botonestodopedido)
}
.pedido-estado{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4); 
}
.tarjeta p{
    font-size: 1.125rem;
    font-weight: 500;
}
.pedidosdatos{
    display: flex;
    flex-direction: column;  
    margin-top:0.5%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    gap: 1.5vh;
}
.pedido-footer{
    display: flex;
    justify-content: space-between;
    margin-top:1%;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
    gap: 1.5vh;

}
.pedido-total{
    color: var(--Textopedidototal);
}
.pedido-header{
    display: flex;
}

.pedido-separador{
    width: 99%;
    margin: 1.5rem auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  animation: fadeIn .25s ease-out;
}

.hidden {
  display: none;
}

.modal-footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-primary {
  padding: 8px 15px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-secondary {
  padding: 8px 15px;
  background: #aaa;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

