.cajapapi{
    width: 100%;
    height: 100%;
}

.encabezado p {
    font-size: 1.2rem;
    font-weight: 500;
}
.encabezado h2{
    font-size: 1.8rem;
    font-weight: 800;
}

.encabezado{
    display: flex;
    margin: 1rem 1rem;
}
.textocabeza{
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
    gap: 1.3rem;
}
.btnAbrirFormProd{
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: 15rem;
    width: 16rem;
    height: 3rem;
    background-color: var(--botnespedidocategoria);
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 4rem;
    margin-top: 1rem;
    border-radius: 1rem;
    transition-duration: 300ms;
}
.btnAbrirFormProd:hover{
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 2px 2px rgba(0, 240, 72, 0.3);
}
.overlay {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.4);  
  backdrop-filter: blur(8px); 
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.close{
  display: flex;
  font-size: 3rem;
  padding: 0;
  align-items: center;
  justify-content:center;
  margin: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  transition-duration: 300ms;
  border-radius: 0.5rem;
}
.close:hover{
  transition-duration: 300ms;
  cursor: pointer;
  transform: scale(1.2);
  color: rgba(153, 1, 1, 0.671);
}

.modal {
  background: #f3e2c1;
  border-radius: 12px;
  width: 40rem;
  height: 50rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.modal h2{
  margin-left: 3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}


.contenidotarjeta{
  display: flex;
  width: 100%;
    flex-direction: column;
  height: 100%;
}
.campo-formulario label{
    margin-left: 4rem;
    margin-bottom: 0.5rem;
}
.campo-formulario{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.campo-formulario input{
    width: 80%;
    margin: auto;
    padding: 0.8rem;
    border-radius: 0.8rem; 
    border: 1px solid rgba(0, 0, 0, 0.4);
}
#categoriasContainer{
    width: 100%;
    display: flex;
    flex-direction: column;

}
.titulo{
    margin-left: 3.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
}
#categoriasCheckboxes{
    display: flex;
    max-height: 6rem;
    overflow: auto;
    flex-wrap: wrap;
    margin: auto;
    gap: 1rem;
    width: 75%;
    background-color: rgb(224, 209, 178);
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    
}
#categoriasCheckboxes label:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#categoriasCheckboxes input:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.guardarCBtn{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--botonguardar);
  box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.3);
    transition-duration: 300ms;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.guardarCBtn:hover{
  transition-duration: 300ms;
  cursor: pointer;
  transform: scale(1.2);
  width: 55%;
  box-shadow: 0px 1px 3px 3px rgba(166, 248, 14, 0.432);
}

