/*DECLARACIÓN DE VARIABLES GLOBALES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root{
    --backgeneral: #FFEECB;
    --headergeneral: #EEA47B;
    --leftbar: #5A5856;
    --buttoncolor: #EE5007;
    --botonguardar: #9acf28;
    --backtarjetaPedido: #FFEDEB;
    --botonestodopedido: #FE8C78;
    --Textopedidototal: #EE5007;
    --botnespedidocategoria: #699a03;
    --tamanioheader: 100px;
  }

html,body,main {
  height: 100%;
}

